# Backend (.NET)
bin/
obj/
.vs/
*.user
appsettings.Development.json

# Frontend (Angular) - ¡No necesitas repetir reglas si el frontend ya tiene su .gitignore!
/cineManagementFront/node_modules/
/cineManagementFront/dist/

# General
.DS_Store
.env
*.log